{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База Студентів{% endblock title %}
{% block content %}
<a href="{% url "s_add" %}" class="btn btn-primary">Додати Студента</a>
<!-- Start Students Listing -->
<table class="table">

{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<thead>
<tr>
<th>
<a href="{% url "main" %}?order_by=#{% if order_by == '#' and reverse != '1' %}&amp;reverse=1{% endif %}">
#
{% if order_by == '#' and reverse != '1' %}&uarr;
{% elif order_by == '#' and reverse == '1' %}&darr;
{% endif %}
</a>
</th>
<th>Фото</th>
<th>
<a href="{% url "main" %}?order_by=last_name{% if order_by == 'last_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
Прізвище
{% if order_by == 'last_name' and reverse != '1' %}&uarr;
{% elif order_by == 'last_name' and reverse == '1' %}&darr;
{% endif %}
</a>
</th>
<th>
<a href="{% url "main" %}?order_by=first_name{% if order_by == 'first_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
Ім'я
{% if order_by == 'first_name' and reverse != '1' %}&uarr;
{% elif order_by == 'first_name' and reverse == '1' %}&darr;
{% endif %}
</th>
<th>
<a href="{% url "main" %}?order_by=ticket{% if order_by == 'ticket' and reverse != '1' %}&amp;reverse=1{% endif %}">
No Білету
{% if order_by == 'ticket' and reverse != '1' %}&uarr;
{% elif order_by == 'ticket' and reverse == '1' %}&darr;
{% endif %}
</th>
<th>Дії</th>
</tr>
</thead>
{% endwith %}

<tbody>
{% for student in students %}
<tr>
<td>{{ forloop.counter }}</td>
<td>
{% if student.photo %}
<img class="img-circle" src="{{ student.photo.url }}" height="30"
width="30" />
{% else %}
<img class="img-circle" src="{% static "img/default_user.png" %}"
height="30" width="30" />
{% endif %}
</td>
<td><a href="{% url "students_edit" student.id %}">{{ student.last_name }}</td>
<td><a href="{% url "students_edit" student.id %}">{{ student.first_name }}</td>
<td>{{ student.ticket }}</td>
<td>
<div class="btn-group">
<button type="button" class="btn btn-default dropdown-toggle"
data-toggle="dropdown">Дія
<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="{% url "students_edit" student.id %}">Редагувати</a></li>
<li><a href="/journal/{{ student.id }}">Відвідування</a>
</li>
<li><a href="{% url "students_delete" student.id %}">Видалити</a></li>
</ul>
</div>
</td>
</tr>
{% endfor %}
</tbody>
</table>
<!-- End Students Listing -->
{% if students.has_other_pages %}
{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
<ul class="pagination">
<li>
<a href="{% url "main" %}?page=1&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">&laquo;</a>
</li>
{% for p in students.paginator.page_range %}
<li {% if students.number == p %}class="active"{% endif %}>
<a href="{% url "main" %}?page={{ p }}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">{{ p }}</a>
</li>
{% endfor %}
<li>
<a href="{% url "main" %}?page={{ students.paginator.num_pages}}&amp;order_by={{ order_by }}&amp;reverse={{ reverse }}">
&raquo;</a>
</li>
</ul>
</nav>
{% endwith %}
{% endif %}
{% endblock content %}
