{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Студенти{% endblock meta_title %}
{% block title %}База Студентів{% endblock title %}
{% block content %}

<!start main page>
         <div class="row" id="content-columns">
          <div class="col-xs-12" id="content-column">
          <!-- <div class="alert alert-warning" role="alert">Зміни скасовано</div> -->
             <h2>Групи</h2>
              <!start table of students>
         <table class="table" border="1">
         <caption >&larr; Жовтень 2015 &rarr;</caption>
          <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
      <th>25</th>
      <th>26</th>
      <th>27</th>
      <th>28</th>
      <th>29</th>
      <th>30</th>
      <th>31</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
      Віталій
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
    </tr>
 
     </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
      Тарас
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <tr>
      <th scope="row">3</th>
      <td>
      Юрій
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>
      Андрій
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <tr>
      <th scope="row">5</th>
      <td>
      Орест
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td><td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
      <td>
      <form>
   <input type="checkbox" name="a" value="">
  </form>
      </td>
    </tr>
 
     </td>
    </tr>
    </tr>
 
     </td>
    </tr>
 
     </td>
    </tr>
    </tr>
 
     </td>
    </tr>
  </tbody>
</table>
         <!end table of students> 
         <!end main page>

{% endblock content %}
